PORT='3000'
PG_URI='xxx'
jwtSecrete = 
jwtExpires = 1d
bcryptSalt = 10
mail_password = 'xxx'
mail_host = 'smtp.meta.ua'
mail_port = 465
mail_user = 'xxx@ukr.net'
verifyMailFrom = 'goitnodejs@meta.ua'
SENDGRID_API_KEY='xxx'
